.forgetPassword_input {
	padding-top: 100px;
	position: relative;
	background: #fff;
}

.forgetPassword_input .title {
	background: #eee;
}

.forgetPassword_input .subtitle {
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	margin-left: 20px;
	color: #aaa;
	line-height: 80px;
}

.forgetPassword_input label {
	width: 20%;
	display: inline-block;
}

.forgetPassword_input label + input {
	width: 70%;
	display: inline-block;
}

.forgetPassword_split {
	margin-top: 30px;
}

.forgetPassword_indicator {
	text-align: right;
	line-height: 40px;
	font-size: 40px;
	font-weight: normal;
	margin: 20px 5% 20px 0;
	position: relative;
}

.forgetPassword_action {
	font-size: 50px;
	font-weight: bold;
	position: relative;
	margin-bottom: 150px;
}