.forgetPassword_input {
	padding-top: 4rem;
	position: relative;
	background: #fff;
}

.forgetPassword_input .title {
	background: #eee;
}

.forgetPassword_input .subtitle {
	font-size: 1.8rem;
	text-align: left;
	margin-left: 1rem;
	color: #979797;
	line-height: 3rem;
}

.forgetPassword_input label {
	width: 15%;
	display: inline-block;
}

.forgetPassword_input label + input {
	width: 65%;
	display: inline-block;
}

.forgetPassword_split {
	margin-top: 1.6rem;
}

.forgetPassword_action {
	font-size: 1.6rem;
	position: relative;
	padding-bottom: 3.8rem;
}