.hotSale_container {
	text-align: center;
	padding: 4rem 0 3.8rem 0;
}

.hotSale {
	width: 100%;
	text-align: left;
	display: inline-block;
}

.hotSale div {
	position: relative;
	width: 100%;
	display: inline-block;
}

.hotSale img:nth-child(2) {
	display: inline;
}

.hotSale img:nth-child(3) {
	display: none;
}

.hotSale .hotSale_favour img:nth-child(2) {
	display: none;
}

.hotSale .hotSale_favour img:nth-child(3) {
	display: inline;
}

.hotSale img {
	width: 100%;
}

.hotSale .heart {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 1.8rem;
	height: 1.8rem;
}