.hotSale_container {
	text-align: center;
	margin: 45px 0 40px 0;
}

.hotSale {
	width: 100%;
	text-align: left;
	display: inline-block;
}

.hotSale div {
	position: relative;
	width: 100%;
	display: inline-block;
}

.hotSale img:nth-child(2) {
	display: inline;
}

.hotSale img:nth-child(3) {
	display: none;
}

.hotSale .hotSale_favour img:nth-child(2) {
	display: none;
}

.hotSale .hotSale_favour img:nth-child(3) {
	display: inline;
}

.hotSale img {
	width: 100%;
}

.hotSale .heart {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 22px;
	height: 22px;
}