.userLogin_input {
	padding-top: 4rem;
	position: relative;
	background: #fff;
}

.userLogin_input .title {
	background: #eee;
}

.userLogin_input label {
	width: 15%;
	display: inline-block;
}

.userLogin_input label + input,
.userLogin_input label + div {
	width: 65%;
	display: inline-block;
}

.verificationCode {
	text-align: left;
}

.verificationCode_input {
	min-width: 6rem;
	max-width: 15rem;
	width: 10rem;
	font-size: 1.6rem;
	display: inline-block;
}

.verificationCode_img {
	height: 2.4rem;
	vertical-align: middle;
}

.userLogin_indicator {
	width: 80%;
	display: inline-block;
	line-height: 1.6rem;
	font-size: 1.6rem;
	margin: 1rem 0 1rem 0;
	position: relative;
}

.userLogin_action {
	font-size: 1.6rem;
	position: relative;
	margin-bottom: 3.8rem;
}

#lblAutoLogin {
	float: left;
}

#aForgetPassword {
	float: right;
}

.userLogin_action_top {
	padding-top: 1rem;
}

.userLogin_action_mode {
	height: 3.5rem;
	margin: 0 auto 2rem auto;
	display: block;
}

.userLogin_action_split {
	width: 60%;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.userLogin_action_thirdParty {
	width: 90%;
	margin: 0 auto;
}

.userLogin_action_thirdParty_item {
	height: 5.5rem;
	padding: 0 0.8rem;
}

.prelogin {
	position: absolute;
	top: 0;
	text-align: center;
	max-width: 64rem;
}

.prelogin_top {
	padding-top: 15%;
}

.prelogin_top_img {
	width: 80%;
	padding-top: 10%;
}

.prelogin_top_url {
	width: 60%;
	margin-top: 2.5rem;
}