.userLogin_input {
	padding-top: 100px;
	position: relative;
	background: #fff;
}

.userLogin_input .title {
}

.userLogin_input label {
	width: 15%;
	display: inline-block;
}

.userLogin_input label + input,
.userLogin_input label + div {
	width: 65%;
	display: inline-block;
}

.verificationCode {
	text-align: left;
}

.verificationCode_input {
	min-width: 120px;
	max-width: 300px;
	width: 200px;
	height: 80px;
	font-size: 40px;
	display: inline-block;
}

.verificationCode_img {
	height: 80px;
	vertical-align: middle;
	margin-top: -10px;
}

.userLogin_indicator {
	width: 80%;
	display: inline-block;
	line-height: 40px;
	font-size: 40px;
	margin: 20px 0 20px 0;
	position: relative;
}

.userLogin_action {
	font-size: 50px;
	position: relative;
	margin-bottom: 150px;
}

#lblAutoLogin {
	float: left;
}

#aForgetPassword {
	float: right;
}

.userLogin_action_top {
	padding-top: 20px;
}

.userLogin_action_mode {
	width: 60%;
	margin: 0px auto 40px auto;
	display: block;
}

.userLogin_action_split {
	width: 60%;
	margin: 100px 0 20px 0;
}

.userLogin_action_thirdParty {
	width: 80%;
	margin: 0 auto;
}

.userLogin_action_thirdParty_item {
	width: 40%;
	padding: 0 10px;
}

.prelogin {
	position: absolute;
	top: 0;
	text-align: center;
}

.prelogin_top {
	padding-top: 15%;
}

.prelogin_top_img {
	width: 80%;
	padding-top: 10%;
}

.prelogin_top_url {
	width: 60%;
	margin-top: 50px;
}