.userRegister_input {
	padding-top: 4rem;
	position: relative;
	background: #fff;
}

.userRegister_input .title {
	background: #eee;
}

.userRegister_input label {
	width: 25%;
	display: inline-block;
}

.userRegister_input label + input {
	width: 55%;
	display: inline-block;
}

.userRegister_indicator {
	text-align: right;
	line-height: 1.6rem;
	font-size: 1.6rem;
	margin: 1rem 5% 1rem 0;
	position: relative;
}

.userRegister_action {
	font-size: 1.6rem;
	position: relative;
	margin-bottom: 3.8rem;
}