.userRegister_input {
	padding-top: 100px;
	position: relative;
	background: #fff;
}

.userRegister_input .title {
	background: #eee;
}

.userRegister_input label {
	width: 20%;
	display: inline-block;
}

.userRegister_input label + input {
	width: 60%;
	display: inline-block;
}

.userRegister_indicator {
	text-align: right;
	line-height: 40px;
	font-size: 40px;
	margin: 20px 5% 20px 0;
	position: relative;
}

.userRegister_action {
	font-size: 50px;
	position: relative;
	margin-bottom: 150px;
}